traces/**/*.xplane.pb filter=lfs diff=lfs merge=lfs -text
traces/**/*.SSTABLE filter=lfs diff=lfs merge=lfs -text
traces/**/*.trie.SSTABLE filter=lfs diff=lfs merge=lfs -text
traces/**/*.metadata.SSTABLE filter=lfs diff=lfs merge=lfs -text
